Repository indaco/svelte-iconoir: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format --, pnpm lint --, prettier --write --ignore-path ./.prettierignore --

docs(README.md): drop descriptions for style and class as they are standard props for svg
  README.md
Due: none

ci: downgrade commitlint to v17 for node < 18
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path ./.prettierignore --

ci(husky): set as executable
  .husky/commit-msg
  .husky/pre-commit
Due: none

ci: update actions/setup-node to v4
  .github/workflows/release.yml
Due: none

chore: rename component IconBase as IconoirBase
  scripts/buildIconsDataset.ts
  src/lib/IconoirBase.svelte
Due: pnpm format --, pnpm lint --

ci: downgrade lint-staged to v14 for node < 18
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path ./.prettierignore --

chore: update dev deps
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path ./.prettierignore --

chore: release v6.1.0
  .changes/6.1.0.md
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

fix: ensure run svelte-kit sync before generating icons
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path ./.prettierignore --

chore: trigger release v6.1.0
  .changes/6.1.0.md
  CHANGELOG.md
Due: none

ci: add build workflow on push and pull_request
  .github/workflows/build.yml
Due: none

ci: update actions/checkout and actions/setup-node to v4
  .github/workflows/build.yml
Due: none

ci: use cache on pnpm/action-setup@v2
  .github/workflows/release.yml
Due: none

ci: fix issue with huskyjs on publish to npm step
  .github/workflows/release.yml
Due: none

ci: set registry-url: 'https://registry.npmjs.org' on setup-node action
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

chore: upgrade to sveltekit v2
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path ./.prettierignore --

docs(README.md): add git update submodule command
  README.md
Due: none

chore: import vitePreprocess from @sveltejs/vite-plugin-svelte
  svelte.config.js
Due: pnpm format --, pnpm lint --

chore: create tsconfig file for scripts
  package.json
  scripts/buildIconsDataset.ts
  tsconfig.scripts.json
Due: pnpm format --, pnpm lint --, prettier --write --ignore-path ./.prettierignore --

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: release v6.2.0
  .changes/6.2.0.md
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

ci: set node 18
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

chore: release v7.0.0
  .changes/7.0.0.md
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

chore: pnpm v8.14.0
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

chore: release v7.1.0
  .changes/7.1.0.md
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

docs: fix link to compare versions 6.1-7.0
  .changes/7.0.0.md
  CHANGELOG.md
Due: none

chore: add required exports field to package.json
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

chore: update pnpm to v8.15.1
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

fix: remove no-necessary export item. no index.js file at all
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

chore: release v7.4.0
  .changes/7.4.0.md
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

Path conditions:
  pnpm format --: any of: *.{js,ts,svelte}
  pnpm lint --: any of: *.{js,ts,svelte}
  prettier --write --ignore-path ./.prettierignore --: any of: *.json
