Repository indaco/svelte-iconoir: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format --, pnpm lint --, prettier --write --ignore-path ./.prettierignore --

fix(scripts/makeProdPkg.ts): use subpath export patterns
  scripts/makeProdPkg.ts
Due: pnpm format --, pnpm lint --

fix(scripts/makeProdPkg): remove components/*.svelte subpath exports
  README.md
  scripts/makeProdPkg.ts
Due: pnpm format --, pnpm lint --

chore: release v7.11.1
  .changes/7.11.1.md
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

refactor(build): streamline icon generation and package structure
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/buildIconsDataset.ts
  scripts/cpFiles.ts
  scripts/index.d.ts
  scripts/makeProdPkg.ts
  scripts/patchPackageExports.ts
  scripts/utils.ts
  scripts/validateExports.ts
Due: pnpm format --, pnpm lint --, prettier --write --ignore-path ./.prettierignore --

fix(package): update pnpm-lock.yaml file
  pnpm-lock.yaml
Due: none

feat: switch to single dynamic component for icons rendering
  eslint.config.mjs
  package.json
  scripts/generateIconsJson.ts
  src/app.css
  src/lib/Icon.d.ts
  src/lib/Iconoir.svelte
  src/lib/IconoirBase.svelte
  src/lib/constants.ts
  src/routes/+page.svelte
Due: pnpm format --, pnpm lint --, prettier --write --ignore-path ./.prettierignore --

build: update pnpm to v10.13.1
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

build: update dev deps
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path ./.prettierignore --

Path conditions:
  pnpm format --: any of: *.{js,ts,svelte}
  pnpm lint --: any of: *.{js,ts,svelte}
  prettier --write --ignore-path ./.prettierignore --: any of: *.json
