Repository indaco/svelte-iconoir: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format --, pnpm lint --, prettier --write --ignore-path ./.prettierignore --

chore: release v7.5.0
  .changes/7.5.0.md
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

chore: update pnpm to v8.15.6
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

chore: update dev deps
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path ./.prettierignore --

chore: release v7.6.0
  .changes/7.6.0.md
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

chore: update pnpm to v9.0.6
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

chore: release v7.7.0
  .changes/7.7.0.md
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

docs(README.md): remove duplicated title
  README.md
Due: none

chore: update husky to v9.1.3
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path ./.prettierignore --

chore: update pnpm to v9.6.0
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

chore: release v7.8.0
  .changes/7.8.0.md
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

fix: prepare script with husky v9
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

build: update dev deps
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path ./.prettierignore --

build: bump pnpm from v9.6.0 to v9.9.0
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

chore: fix lint suggestion on pkg.repository.url
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

chore: release v7.9.0
  .changes/7.9.0.md
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

build: update pnpm to v9.12.3
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

ci: set pnpm version to 9
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

chore: release v7.10.0
  .changes/7.10.0.md
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

feat: support Svelte 5 in peer dependencies
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

chore: update pnpm-lock.yaml to include svelte v5
  pnpm-lock.yaml
Due: none

build: bump pnpm to v9.15.3
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

chore: release v7.10.1
  .changes/7.10.1.md
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

docs(README): fix typo and MD010 lint
  README.md
Due: none

chore: release v7.11.0
  .changes/7.11.0.md
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-path ./.prettierignore --

ci: bump node version to 20 and use pnpm v10
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

ci: fix pnpm/action-setup use key "packageManager" in package.json
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

fix: eslint migrate config
  .eslintignore
  .eslintrc.cjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/lib/IconoirBase.svelte
Due: pnpm format --, pnpm lint --, prettier --write --ignore-path ./.prettierignore --

Path conditions:
  pnpm format --: any of: *.{js,ts,svelte}
  pnpm lint --: any of: *.{js,ts,svelte}
  prettier --write --ignore-path ./.prettierignore --: any of: *.json
